<div class="dashboard-medico-bg"></div>
<div class="dashboard-medico-content">
  <div class="medico-dashboard-outer">
    <div class="medico-dashboard-container">
      <h2>Panel de Médico</h2>
      <div class="medico-cards">
        <mat-card class="medico-card">
          <mat-icon>event_available</mat-icon>
          <h3>Ver Citas</h3>
          <button mat-raised-button color="accent" routerLink="/dashboard-medico/ver-citas">Ir</button>
        </mat-card>
        <mat-card class="medico-card">
          <mat-icon>mail_outline</mat-icon>
          <h3>Mensajes</h3>
          <button mat-raised-button color="accent" routerLink="/dashboard-medico/mensajes">Ir</button>
        </mat-card>
        <mat-card class="medico-card">
          <mat-icon>person</mat-icon>
          <h3>Perfil Médico</h3>
          <button mat-raised-button color="accent" routerLink="/dashboard-medico/perfil">Ir</button>
        </mat-card>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
