<div class="dashboard-medico-bg"></div>
<div class="dashboard-medico-content">
  <div class="medico-dashboard-outer">
    <div class="medico-dashboard-container">
      <h2>Panel de Médico</h2>
      <div class="medico-cards">
        <mat-card class="medico-card">
          <mat-icon>event_available</mat-icon>
          <h3>Ver Agenda de Citas</h3>
          <button mat-raised-button color="accent">Ir</button>
        </mat-card>
        <mat-card class="medico-card">
          <mat-icon>history</mat-icon>
          <h3>Ver Historial de Pacientes</h3>
          <button mat-raised-button color="accent">Ir</button>
        </mat-card>
        <mat-card class="medico-card">
          <mat-icon>assignment</mat-icon>
          <h3>Registrar Atención Médica</h3>
          <button mat-raised-button color="accent">Ir</button>
        </mat-card>
        <mat-card class="medico-card">
          <mat-icon>mail_outline</mat-icon>
          <h3>Ver Mensajes</h3>
          <button mat-raised-button color="accent">Ir</button>
        </mat-card>
      </div>
    </div>
  </div>
</div>
