<div class="agendar-cita-layout">
  <div class="imagen-lateral">
    <img src="assets/img/10.jpg" alt="Consulta médica">
  </div>

  <div class="agendar-cita-container">
    <h2>Agendar Cita</h2>
    <form [formGroup]="citaForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="cita-field">
        <mat-label>Fecha *</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" class="cita-field">
        <mat-label>Hora *</mat-label>
        <input matInput formControlName="hora" type="time" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="cita-field">
  <mat-label>Doctor *</mat-label>
  <mat-select formControlName="doctor" required>
    <mat-option *ngFor="let medico of medicos" [value]="medico.dni">
      Dr. {{ medico.nombres }} {{ medico.apellidoP }} {{ medico.apellidoM }}
    </mat-option>
  </mat-select>
</mat-form-field>

      <mat-form-field appearance="fill" class="cita-field">
        <mat-label>Sede *</mat-label>
        <mat-select formControlName="sede" required>
          <mat-option value="Sede Centro">Sede Centro</mat-option>
          <mat-option value="Sede Norte">Sede Norte</mat-option>
          <mat-option value="Sede Sur">Sede Sur</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="cita-field">
        <mat-label>Especialidad *</mat-label>
        <mat-select formControlName="especialidad" required>
          <mat-option value="Medicina General">Medicina General</mat-option>
          <mat-option value="Pediatría">Pediatría</mat-option>
          <mat-option value="Ginecología">Ginecología</mat-option>
          <mat-option value="Cardiología">Cardiología</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="citaForm.invalid">
        Agendar
      </button>
    </form>

   
  </div>
</div>
