<div class="dashboard-admin-bg"></div>
<div class="dashboard-admin-content">
  <div class="admin-dashboard-container">
    <h2>Panel de Administrador</h2>
    <div class="admin-cards">
      <mat-card class="admin-card">
        <mat-icon>group</mat-icon>
        <h3>Gestion de Perfiles</h3>
        <button mat-raised-button color="primary" routerLink="/dashboard-admin/gestion-perfil">Ir</button>
      </mat-card>
      <mat-card class="admin-card">
        <mat-icon>event_note</mat-icon>
        <h3>Ver Todas las Citas</h3>
        <button mat-raised-button color="primary" routerLink="/dashboard-admin/todas-citas">Ir</button>
      </mat-card>
      <mat-card class="admin-card">
        <mat-icon>calendar_today</mat-icon>
        <h3>Ver Médicos</h3>
        <button mat-raised-button color="primary" routerLink="/dashboard-admin/ver-medicos">Ir</button>
      </mat-card>
      <mat-card class="admin-card">
        <mat-icon>history</mat-icon>
        <h3>Ver  Pacientes</h3>
        <button mat-raised-button color="primary" routerLink="/dashboard-admin/ver-pacientes">Ir</button>
      </mat-card>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
