<div class="login-container">
  <div class="login-image">
    <img src="assets/img/logo.jpg" alt="Logo">
  </div>
  <h1>Iniciar Sesión</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
    <!-- CAMBIO: DNI en lugar de Correo -->
    <mat-form-field appearance="fill" class="login-field">
      <mat-label>DNI</mat-label>
      <input matInput formControlName="dni" type="text" required>
      <mat-error *ngIf="loginForm.get('dni')?.invalid && loginForm.get('dni')?.touched">
        DNI requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="login-field">
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="contrasena" type="password" required>
      <mat-error *ngIf="loginForm.get('contrasena')?.invalid && loginForm.get('contrasena')?.touched">
        Contraseña requerida
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" class="login-btn" type="submit" [disabled]="loginForm.invalid">Ingresar</button>
    <button mat-stroked-button color="primary" class="register-btn" type="button" routerLink="/registro">Regístrate</button>
  </form>
</div>
