<div class="nosotros-header">
  <div class="nosotros-header-content">
    <p class="nosotros-header-subtitle">Tecnología, acceso y calidad</p>
    <h1 class="nosotros-title">Descubre nuestra Historia</h1>
    <p class="nosotros-desc">
      Salud Inteligente emerge como una innovadora respuesta a las crecientes necesidades de salud mental, combinando tecnología, acceso y calidad para transformar el cuidado y bienestar emocional en Peru y más allá.
    </p>
  </div>
</div>


<section class="nosotros-section">
  <div class="nosotros-section-flex">
    <div class="nosotros-section-text">
      <h2>Misión</h2>
      <p>
        Revolucionar el cuidado de la salud mental mediante un enfoque multidisciplinario, superando barreras tradicionales y ofreciendo soluciones directas y personalizadas. Nos enfocamos en mejorar la salud mental laboral e individual, integrando terapias clínicas y de coaching para impactar positivamente la productividad y el bienestar.
      </p>
    </div>
    <div class="nosotros-section-img-wrap">
      <img src="assets/img/2.jpg" alt="Misión Salud Inteligente" class="nosotros-section-img">
    </div>
  </div>
</section>

<section class="nosotros-section imagen-izquierda">
  <div class="nosotros-section-flex">
    <div class="nosotros-section-text">
      <h2>Visión</h2>
      <p>
        Liderar el cuidado de la salud mental con modelos innovadores y validados, priorizando la atención integral y colaborativa. Aspiramos a establecer nuevos estándares de excelencia y accesibilidad, beneficiando a individuos y comunidades globalmente.
      </p>
    </div>
    <div class="nosotros-section-img-wrap">
      <img src="assets/img/7.jpg" alt="Visión Salud Inteligente" class="nosotros-section-img">
    </div>
  </div>
</section>

<section class="nosotros-section">
  <div class="nosotros-section-flex">
    <div class="nosotros-section-text">
      <h2>Valores</h2>
      <ul>
        <li><b>Eficiencia:</b> Optimizamos recursos para brindar la mejor atención posible.</li>
        <li><b>Integralidad:</b> Abordamos cada caso con una perspectiva holística, asegurando una atención completa.</li>
        <li><b>Medición:</b> Basamos nuestras intervenciones en evidencia empírica, garantizando efectividad.</li>
      </ul>
    </div>
    <div class="nosotros-section-img-wrap">
      <img src="assets/img/4.jpg" alt="Valores Salud Inteligente" class="nosotros-section-img">
    </div>
  </div>
</section>